<?xml version="1.0"?>
<!--
/*
 * Turiknox_EnquirySaver

 * @category   Turiknox
 * @package    Turiknox_EnquirySaver
 * @copyright  Copyright (c) 2017 Turiknox
 * @license    https://github.com/turiknox/magento2-enquiry-saver/blob/master/LICENSE.md
 * @version    1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="EnquirySaverUiDataProviderEnquiryFormModifierPool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="enquiry_data" xsi:type="array">
                    <item name="class" xsi:type="string">Turiknox\EnquirySaver\Ui\DataProvider\Enquiry\Form\Modifier\EnquiryData</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Turiknox\EnquirySaver\Model\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">EnquirySaverUiDataProviderEnquiryFormModifierPool</argument>
        </arguments>
    </type>
</config>